@import '../../style/colors.less';

.MapView {
  .system {
    cursor: pointer;
    circle {
      fill: @OffWhite;
    }
    text {
      fill: @textColor;
      font-size: 9px;
    }
    &.targeted circle {
      fill: @accentColor;
    }
    &.current circle {
      fill: @secondAccentColor;
    }
  }
  .link {
    line {
      stroke-width: 1px;
      stroke: @darkBackgroundColor;
    }
    &.targeted line {
      stroke-width: 3px;
      stroke: @accentColor;
    }
  }
}
