@import '../../style/colors.less';

.MiniMapView {
  .star circle {
    fill: none;
    stroke-width: 1px;
    stroke: @DarkOrange;
  }
  .planet circle {
    fill: none;
    stroke-width: 1px;
    stroke: @DarkTeal;
  }
  .spaceStation circle {
    fill: none;
    stroke-width: 1px;
    stroke: @DarkPurple;
  }
  .playerShip path {
    fill: @DarkYellow;
  }
  circle.orbit {
    fill: none;
    stroke-width: 1px;
    stroke: @darkBackgroundColor;
  }
  .bodyDot text {
    font-size: 9px;
    fill: @textColor;
  }
}
