.MiniMapView {
  .star circle {
    fill: none;
    stroke-width: 1px;
    stroke: var(--dark-orange);
  }
  .planet circle {
    fill: none;
    stroke-width: 1px;
    stroke: var(--dark-teal);
  }
  .spaceStation circle {
    fill: none;
    stroke-width: 1px;
    stroke: var(--dark-purple);
  }
  .playerShip path {
    fill: var(--dark-yellow);
  }
  circle.orbit {
    fill: none;
    stroke-width: 1px;
    stroke: var(--background-color-softer);
  }
  .bodyDot text {
    font-size: 9px;
    fill: var(--text-color);
  }
}
