:root {
  --dark-teal: #1b9e77;
  --dark-orange: #d95f02;
  --dark-purple: #7570b3;
  --dark-pink: #e7298a;
  --dark-green: #66a61e;
  --dark-yellow: #e6ab02;
  --dark-brown: #a6761d;
  --dark-grey: #666666;

  --accent-color: var(--dark-yellow);
}
